$h1: 38px;
$h2: 30px;
$h3: 24px;
$h4: 22px;
$h5: 18px;
$h6: 16px;
$h7: 14px;
$h8: 12px;

// 主色與輔助色
// 暫時換一下看膩
$color: #0B4873;

// $color: #000d0c;
$color1_active: #032034;
$color2: #DC7700;
$color3: #046F02;
$color4: #FFE600;
$color5: #302A2A;
$color6: #BEBEBE;
$color7: #761306;

$color9: #a85a00;

// 白色
$white: #FFFFFF;

$black: black;

$headerH: 140px;
$footerH: 60px;

// header的圖層位置
$headerZ: 100;

$btnH: 32px;

// 控制所有table長寬高
$thH: 30px;
$tdH: 35px;



$gray: rgb(148, 148, 148);

// @mixin fontStyle{
// color:$color;
// font-family: Noto Sans Tc;
// }